<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsoleAlpha</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>ConsoleBackground</key>
	<array>
		<real>0.0093256784602999687</real>
		<real>0.12680891156196594</real>
		<real>0.1598840057849884</real>
		<real>0.0</real>
	</array>
	<key>ConsoleText</key>
	<array>
		<real>0.1895335465669632</real>
		<real>0.83708620071411133</real>
		<real>0.75169563293457031</real>
		<real>1</real>
	</array>
	<key>EditorBackground</key>
	<array>
		<real>0.0</real>
		<real>0.16899999976158142</real>
		<real>0.21199999749660492</real>
		<real>0.0</real>
	</array>
	<key>EditorFlash</key>
	<array>
		<real>0.015786990523338318</real>
		<real>0.12959235906600952</real>
		<real>0.12810835242271423</real>
		<real>1</real>
	</array>
	<key>EditorHighlightBraces</key>
	<array>
		<real>1</real>
		<real>0.0</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>EditorHighlightContent</key>
	<array>
		<real>0.30984857678413391</real>
		<real>0.091889262199401855</real>
		<real>0.58954954147338867</real>
		<real>1</real>
	</array>
	<key>EditorInsertionPoint</key>
	<array>
		<real>0.44083976745605469</real>
		<real>0.50915533304214478</real>
		<real>0.51767486333847046</real>
		<real>1</real>
	</array>
	<key>EditorInvisibleChar</key>
	<array>
		<real>1</real>
		<real>0.5</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>EditorReverseSync</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>EditorText</key>
	<array>
		<real>0.1895335465669632</real>
		<real>0.83708620071411133</real>
		<real>0.75169563293457031</real>
		<real>1</real>
	</array>
	<key>FootnoteColor</key>
	<array>
		<real>0.81043398380279541</real>
		<real>0.1117527186870575</real>
		<real>0.1393231600522995</real>
		<real>1</real>
	</array>
	<key>ImageBackground</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>0.0</real>
	</array>
	<key>ImageForeground</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>LogBackground</key>
	<array>
		<real>0.0</real>
		<real>0.16899999976158142</real>
		<real>0.21199999749660492</real>
		<real>0.0</real>
	</array>
	<key>LogText</key>
	<array>
		<real>0.1895335465669632</real>
		<real>0.83708620071411133</real>
		<real>0.75169563293457031</real>
		<real>1</real>
	</array>
	<key>PreviewAlpha</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>PreviewBackground</key>
	<array>
		<real>0.80000007152557373</real>
		<real>0.80000007152557373</real>
		<real>0.79999995231628418</real>
		<real>1</real>
	</array>
	<key>PreviewDirectSync</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>SourceAlpha</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>SyntaxCommand</key>
	<array>
		<real>0.92840123176574707</real>
		<real>0.93772345781326294</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>SyntaxComment</key>
	<array>
		<real>0.42467421293258667</real>
		<real>0.42466151714324951</real>
		<real>0.42466866970062256</real>
		<real>1</real>
	</array>
	<key>SyntaxIndex</key>
	<array>
		<real>0.78037124872207642</real>
		<real>0.10565920174121857</real>
		<real>0.43537396192550659</real>
		<real>1</real>
	</array>
	<key>SyntaxMarker</key>
	<array>
		<real>0.0</real>
		<real>0.83322715759277344</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>Title</key>
	<string>tssal</string>
</dict>
</plist>
